@import "../../../styl/theme.styl"

.scan
  background-color #fff
  height 130rpx
  display flex
  align-items center
  padding-left 40rpx
  color $user-ash
  &.hover
    background-color $hover
  .iconfont
    font-size 70rpx
    margin-right 30rpx
.course
  background-color #fff
  padding 0 20rpx 20rpx 20rpx
  font-size 35rpx
  font-weight 700
  .title
    padding 40rpx 0 30rpx 0
  .content
    image
      width 100%