@import '../../../styl/theme.styl'

.card
  width 708rpx
  box-shadow 0 0 0 1rpx $box-shadow
  border-radius 7rpx
  overflow hidden
  margin 0 auto
  .container
    font-size 35rpx
    padding 20rpx
  .header
    background-color $card-header
    position relative
  .content
    background-color $card-content
