@import '../../../styl/theme.styl'

// 退出
.logout
  background-color #fff
  height 100rpx
  display flex
  justify-content center
  align-items center
  font-size 33rpx
  color $user-logout
  &.hover
    background-color $user-hover