@import "../../fonticon/fonticon.wxss"
@import "../../../styl/theme.styl"

.top
  background-color $greend
  border-radius 50%
  justify-content center
  display flex
  align-items center
  width 100rpx
  height 100rpx
  position fixed
  bottom 200rpx
  right 100rpx
  .iconfont
    color #fff
    font-size 55rpx