// cnode 绿
$greend = #80bd01

// hover
$hover = #f6f6f6
// 小字灰
$ash = #71777c

// 页面背景
$page-bgc = #e1e1e1

// Card 组件
$card-header = #f6f6f6
$card-content = #fff
$box-shadow = #ccc

//==========首页==============
// 首页分类图标
$tab-color = $greend
$tab-bgc-active = $greend
$tab-color-active = #fff

// 首页列表触屏
$list-hover = #f6f6f6
// 首页列表下边框
$list-bottom = #eee

// 首页列表分类图标 精华置顶
$list-bgc-good = $tab-bgc-active
$list-colors-good = $tab-color-active
// 首页列表分类图标 普通分类
$list-bgc = #e5e5e5
$list-color = #999

// 首页列表 回复量数字
$index-comment = #9e78c0
// 首页列表 浏览量数字
$index-read = #b4b4b4
// 首页列表 发布时间
$index-publish = #778087


// ============个人==============
$user-arrow = #b4b4b4
$user-ash = $ash
$user-hover = #f6f6f6
// 退出登录
$user-logout = #db0000
